/* header and nav layout */
header .nav-wrapper {
  width: 100%;
  z-index: 2;
  position: fixed;
	color: #58595b;
  box-shadow: 10px 0px 30px rgba(0, 0, 0, .16);
  background-color: #fff;
}

header nav#nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "hamburger brand tools" 83px "sections sections sections" 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1800px;
  /* height: var(--nav-height); */
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav#nav[aria-expanded="true"] {
  grid-template:
    "hamburger brand" var(--nav-height) "sections sections" 1fr
    "tools tools" var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

header nav#nav a:any-link:hover,
header .navbar-two a:any-link:hover {
  color: var(--click1-color);
}

@media (width >=600px) {
  header nav#nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header nav#nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    grid-template:
      "hamburger brand tools" var(--nav-height) "sections sections sections" 1fr / auto 1fr auto;
  }

  header nav#nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav#nav p {
  margin: 0;
  line-height: 1;
}

header nav#nav a:any-link {
  color: currentcolor;
  display: block;
}

/* hamburger */
header nav#nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: none;
  /* align-items: center;
	background-color: transparent; */
}

header nav#nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav#nav .nav-hamburger-icon,
header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >=900px) {
  header nav#nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
}

header nav#nav .nav-brand img {
  display: block;
  max-width: 145px;
  max-height: 100%;
  height: auto;
}

/* sections */
header nav#nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav#nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav#nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav#nav .nav-sections ul>li {
  font-weight: 400;
	font-size: 16px;
	display: flex;
	align-items: center;
}

header nav#nav .nav-sections ul>li:hover {
  cursor: pointer;
	color: #0096fa;
}

header nav#nav .nav-sections ul>li>ul {
  margin-top: 0;
}

header nav#nav .nav-sections ul>li>ul>li {
  font-weight: 500;
}

header nav#nav .nav-sections ul>li> .icon-caret-down-thin {
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

header nav#nav .nav-sections ul>li> .icon-caret-down-thin img {
	filter: invert(1);
}


header nav#nav .nav-sections ul>li> .icon-account {
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 16px;
	padding: 3px;
}

header nav#nav .nav-sections ul>li> .icon-account:hover {
	box-shadow: 0 0 20px #d1fbff, 0 0 16px #75cfff, 0 0 12px #978aff;
}

/* primary button styling */
header nav#nav .nav-sections ul>li>strong>a {
	display: inline-block;
  position: relative;
  font-family: var(--font-2);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .05rem;
  border: 2px solid var(--click1-color);
  color: var(--white-color);
  background-color: var(--click1-color);
  z-index: 1;
  padding: .778rem 1.111rem;
  overflow: hidden;
}

header nav#nav .nav-sections ul>li>strong>a:hover {
	background-color: var(--white-color);
  color: var(--click1-color);
  border: 2px solid var(--click1-color);
}

@media (width >= 1200px) {
  header nav#nav .nav-brand img {
    position: relative;
    top: 15px;
  }
}

@media (width >=900px) {
  header nav#nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

	header nav#nav .nav-sections > div {
		max-width: 100%;
	}

  header nav#nav a:any-link {
    display: block;
  }

  header nav#nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav#nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
    z-index: 10;
  }

  header nav#nav .nav-sections .nav-drop::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav#nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav#nav .nav-sections ul {
    display: flex;
    gap: 3.25em;
    margin: 0;
    font-size: var(--body-font-size-xs);
		justify-content: flex-end;
  }

  header nav#nav .nav-sections .default-content-wrapper>ul>li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav#nav .nav-sections .default-content-wrapper>ul>li>ul {
    display: none;
    position: relative;
  }

  header nav#nav .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav#nav .nav-sections .default-content-wrapper>ul>li>ul::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav#nav .nav-sections .default-content-wrapper>ul>li>ul>li {
    padding: 8px 0;
  }
}

/* tools */
header nav#nav .nav-tools {
  grid-area: tools;
}

header nav#nav .nav-tools .button {
  background: none;
  border: none;
  padding: 10px;
  margin: 0;
}

/* breadcrumbs */
header .breadcrumbs {
  display: none;
  padding: 0 32px;
  width: 100%;
  height: var(--breadcrumbs-height);
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  font-size: var(--breadcrumbs-font-size);
}

header .breadcrumbs ol {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li {
  padding-inline-start: 0;
  opacity: 0.7;
}

header .breadcrumbs ol li:not(:last-child)::after {
  content: "/";
  padding-left: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li a:any-link {
  color: var(--text-color);
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li:last-of-type {
  opacity: 1;
}

@media screen and (width >=900px) {
  header .breadcrumbs {
    display: block;
  }
}

header .section.navbar-one {
	max-width: 1800px;
	margin: 0 auto;
	padding-bottom: 10px;
  display: none;
}

header .section.navbar-one > .default-content-wrapper {
	max-width: 100%;
	padding: 0 2rem;
}

header .section.navbar-one ul {
	padding-left: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

header .section.navbar-one ul> li {
	color: #ddd;
	padding: 5px;
	font-size: 15px;
	display: flex;
	align-items: center;
}

header .section.navbar-one ul> li:last-of-type .icon {
	width: 16px;
	height: 16px;
}

header .section.navbar-one ul> li:last-of-type .icon img {
	filter: invert(1);
}

header .section.navbar-one ul> li:hover{
  cursor: pointer;
	color: #0096fa;
}

header .section.navbar-one ul>li:first-of-type {
	display: inline-block;
	background: linear-gradient(90deg, #a000b8, #5724ff 50%, #003efa);
	color: #f9f9fb;
	border-radius: 4px;
	padding: 5px 10px;
}

header .section.navbar-two {
	max-width: 100%;
	margin: 0 auto 1rem;
	padding: 0 1rem;
	color: var( --primary-color);
}

header .section.navbar-two > .default-content-wrapper {
	max-width: 1800px;
	padding: 0 1rem;
}

header .section.navbar-two ul {
	padding-left: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
  justify-content: flex-end;
	gap: 4em;
}

header .section.navbar-two ul li {
	font-size: 1em;
	display: flex;
	align-items: center;
	padding: 5px;
	font-weight: 800;
}

header .section.navbar-two ul li:hover{
	cursor: pointer;
}

header .section.navbar-two ul >li:first-of-type {
	color: #065299;
}

@media (width <= 1500px) {
  header .section.navbar-two ul {
    gap: 2em;
  }
}

@media (width <= 1300px) {
  header .section.navbar-two ul {
    gap: 1em;
  }
}

@media (width <= 1200px) {
  header .section.nav-sections,
  header .section.navbar-one,
	header .section.navbar-two {
		display: none !important;
	}

	header nav#nav .nav-sections ul>li {
		padding: 10px 0;
	}

  header .section.navbar-two ul li {
   font-size: 0.75em; 
  }
}