.filter-header {
    background-color: var(--off-color);
    position: relative;
    padding: 2.833rem 0 1.833rem;
    overflow: hidden;
}

.main {
    width: 100%;
    margin: 0 auto;
    max-width: calc(69.778rem + (var(--main-padding) * 2));
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    position: relative;
}

.filter-header header {
    padding-bottom: 0;
}

.main section header {
    text-align: left;
    font-weight: 400;
    margin: 0;
}

.main section header > *:last-child {
    margin-bottom: 0;
}

.main h1 {
    font-size: 3.333rem;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0;
    line-height: 1.16;
    color: var(--primary-color);
}

.filter-header fieldset {
    overflow: visible;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
}

fieldset > legend {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

[class*='flex-'][class*='-grid'] {
    position: relative;
    width: calc(100% + var(--grid-spacing));
    left: calc(var(--grid-spacing) * -.5);
}

[class*='flex-'][class*='-wrap'] {
    flex-wrap: wrap;
}

[class*='flex-'][class*='-between'], [class*='flex-'][class*='-spaced'], .items-spaced .item-spacing {
    justify-content: space-between;
}

[class*='flex-'] {
    align-items: stretch;
    align-content: space-around;
    display: flex;
}

[class*='flex-'][class*='-grid'] > li.third {
    width: calc(33.333% - var(--grid-large-spacing));
    max-width: calc(33.333% - var(--grid-spacing));
}

[class*='flex-'][class*='-grid'] > li {
    margin: calc(var(--grid-spacing) * .5);
    flex: 1 1 auto;
}

fieldset > ul > li {
    position: relative;
    font-size: inherit;
    padding-left: 0;
    padding-right: 0;
}

.filter-header .search-form li > label {
    line-height: 1;
    margin: .5rem 0 .3889rem;
}

label:not(.hide):not([class*="title-style"]), .label-style {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    display: block;
    color: var(--primary-color);
}

fieldset li > label {
    position: relative;
}

.input-text {
    position: relative;
}

.input-text input[type='text'], .input-text select {
    display: block;
    padding: 0.611rem 1.11rem .444rem;
    width: 100%;
    background-color: var(--white-color);
    text-align: left;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    transition: background-color .4s ease 0s, border-color .4s ease 0s, color .4s ease 0s;
    border-bottom: solid 2px var(--primary-color) !important;
    font-family: var(--font-2);
}

.filter-header fieldset ul li.search svg {
    font-size: .833rem;
    color: var(--click1-color);
}

svg[data-use] {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

fieldset li svg {
    position: absolute;
    top: 50%;
    right: 1rem;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    font-size: .722rem;
    color: var(--click1-color);
}

input {
    border: none;
    border-radius: 0;
    background-image: none;
    resize: none;
    box-shadow: none;
}

.input-text ::-webkit-input-placeholder, .input-text select {
    opacity: 1;
    color: var(--text-color);
}

.input-text select option {
    text-transform: none;
    text-align: left;
}

.hide {
    display: none !important;
}

.find-a-doctor select {
    border: none;
    border-radius: 0;
    background-image: none;
    resize: none;
    box-shadow: none;
    appearance: none;
}

.find-a-doctor .input-text .ui-cms-input-custom {
    width: 340px;
}

/* results section */
.filter-header + .system-padding {
    padding-top: 4.167rem;
    padding-bottom: 5.556rem;
}

[class*='flex-'][class*='-middle'] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

[class*='flex-'][class*='-between'], [class*='flex-'][class*='-spaced'], .items-spaced .item-spacing {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mar-b-3 {
    margin-bottom: calc(var(--spacing-variable) * 1.5);
}

.system-cards {
    position: relative;
    width: calc(100% + var(--grid-spacing));
    left: calc(var(--grid-spacing) * -0.5);
    align-items: stretch;
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.system-cards > [class*="item"][class*="half"] {
    width: calc(50% - var(--grid-spacing));
}

.system-cards > [class*="item"] {
    padding-bottom: 2.778rem;
}

.system-cards > [class*="item"] {
    flex: 0 1 auto;
    margin: calc(var(--grid-spacing) * .5);
    position: relative;
    border-radius: var(--radial-border);
}

.system-cards > [class*="item"] a[class*="flex-"] > figure, .system-cards > [class*="item"] div[class*="flex-"] > figure {
    width: 22%;
    padding-bottom: 27.5%;
}

.system-cards > [class*="item"] figure, figure.system-card:not(.play), .rel-fragments li figure {
    height: 0;
    line-height: 1;
    overflow: hidden;
}

.system-cards > [class*="item"] figure, figure.system-card {
    position: relative;
}

figure {
    text-align: center;
    margin: 0;
}

section picture:not(.img) {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section picture img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    transform: translate(-50%, -50%);
    min-height: calc(100% + 1px);
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.system-cards > [class*="item"] a[class*="flex-"] > div, .system-cards > [class*="item"] div[class*="flex-"] > div {
    width: 73%;
}

.title-style-5 {
    font-size: 1.111rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    color: var(--text-color);
}

[class*="title-style-"] {
    display: block;
}

.system-cards > [class*="item"] .note-style-1 {
    line-height: 1;
}

.note-style-1 {
    font-size: 0.889em;
    font-weight: 400;
    color: var(--primary-color);
    display: block;
    font-family: var(--font-1);
}

.mar-t-1 {
    margin-top: calc(var(--spacing-variable) * .5);
}

.physician-feed.v1 [class*="item"] .info li.phone, .physician-feed.v1 [class*="item"] .info li.new-patients {
    display: list-item;
}

*:not([class*="flex"]) > .inline-svg {
    margin-top: 0.2em;
}

.inline-svg {
    color: var(--text-color);
    position: relative;
    padding-left: 1.67em;
}

.inline-svg svg {
    font-size: 1.1em;
    color: var(--click1-color);
    left: 0;
    position: absolute;
    top: 0.4rem;
}

.physician-feed.v1 [class*="item"] .info li.new-patients {
    margin-top: .722rem !important;
}

.link-style-1 {
    position: relative;
    font-size: 1.111rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    color: var(--text-color);
    transition: var(--transit-1);
    display: inline-block;
    font-family: var(--font-1);
    z-index: 1;
    padding-left: 1.167rem;
    text-decoration: none !important;
}

.npr-scores-cont .ds-summary {
    display: flex;
    flex-wrap: wrap;
    color: var(--text-color);
}

.npr-scores-cont .ds-summary .ds-stars {
    widtH: 88px !important;
}

.npr-scores-cont .ds-summary .ds-xofy {
    font-weight: 700;
}

.npr-scores-cont .ds-summary .ds-title, .npr-scores-cont .ds-summary .ds-title + div, .npr-scores-cont .ds-summary .ds-xofy {
    width: 100%;
}

.npr-scores-cont .ds-summary .ds-ratings, .npr-scores-cont .ds-summary .ds-comments {
    margin-right: .278rem;
    line-height: 1;
    margin-bottom: .278rem;
    position: relative;
}

.system-cards > [class*="item"] address {
    line-height: 1.5;
    margin: 1.111rem 0 .5556rem !important;
    color: var(--text-color);
}

address {
    display: block;
    font-style: normal;
}