article {
    display: block;
}

.system-entry h1 {
    margin-bottom: 0 !important;
}

.system-entry > .inline-items {
    margin-top: .778rem;
}

.system-entry .inline-items > li > *:not(p) {
    line-height: 1.8;
}

.inline-svg[class*="flex-"] svg {
    top: initial;
}

.inline-svg svg {
    font-size: 1.1em;
    color: var(--click1-color);
    left: 0;
    position: absolute;
    top: 0.4rem;
}

icon svg, svg[data-use] {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.flex-spaced-wrap-block-500 {
    flex-wrap: wrap;
}

[class*='flex-'][class*='-middle'] {
    -ms-flex-align: center;
    align-items: center;
}

*:not([class*="flex"]) > .inline-svg {
    margin-top: 0.2em;
}

.inline-svg {
    color: var(--text-color);
    position: relative;
    padding-left: 1.67em;
}

.stars-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[class*='flex-'][class*='-start'], [class*='flex-'][class*='-top'] {
    justify-content: flex-start;
}

[class*='flex-'][class*='-between'], [class*='flex-'][class*='-spaced'], .items-spaced .item-spacing {
    justify-content: space-between;
}

.main {
    width: 100%;
    margin: 0 auto;
    max-width: calc(69.778rem + (var(--main-padding) * 2));
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    position: relative;
}

main section:not(.no-padding), .section-padding {
    padding-top: var(--section-vertical-padding);
    padding-bottom: var(--section-vertical-padding);
    position: relative;
}

[class*='flex-'] {
    display: flex;
}

.stars-cont .starz {
    background-position: -92% 0;
    background-image: linear-gradient(to right, #ffffff 50%, #f0d283 50%);
    background-size: 200% 100%;
}

.rating-cont span {
    display: inline;
    line-height: 1.3;
}

.stars-cont .starz img {
    display: block;
}

.stars-cont img {
    opacity: 1;
    transition: opacity .3s ease 0s;
    max-width: 100%;
    border: none;
}

.system-entry .system-callout {
    margin-top: 2.222rem;
}

.system-callout {
    padding: 2.444rem 2.22rem;
    background-color: var(--off-color);
}

.system-callout > li:first-child, .system-callout > li.total-0 + li {
    padding-top: 0;
}

[class*='flex-'][class*='-spaced'] > .third {
    width: 32%;
}

label:not(.hide):not([class*="title-style"]), .label-style {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: block;
    color: var(--primary-color);
}

[class*='flex-'][class*='-spaced'] > .two-thirds {
    width: 64%;
}

.system-callout > li span {
    line-height: 1;
}

.block {
    display: block;
}

.system-callout > li span a {
    font-weight: 700;
}

.system-callout > li {
    padding-top: 1.389rem;
}

[class*='flex-'][class*='-between'], [class*='flex-'][class*='-spaced'], .items-spaced .item-spacing {
    justify-content: space-between;
}

[id] {
    scroll-margin-top: 10em;
}

.full {
    width: 100%;
}

.phys-education .title-style-2 {
    padding-bottom: .444rem;
}

.content-style > :first-child {
    margin-top: 0 !important;
}

h2, section header:not(.content-style) > h3:not([class*="title-style"]), section header:not(.content-style) > strong:first-child + em, .title-style-2 {
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.27;
    color: var(--secondary-color);
    font-family: var(--font-1);
}

.mar-t-tiny {
    margin-top: var(--spacing-tiny);
}

.phys-education ul li {
    padding-bottom: 0 !important;
}

.content-style ul li {
    color: var(--text-color);
    position: relative;
    font-size: 1rem;
    z-index: 1;
    font-weight: 500;
}

h3, .title-style-3 {
    font-size: 1.33rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    color: var(--primary-color);
}

[class*='flex-'][class*='-spaced'] > .half {
    width: 49%;
}

.mar-e-tiny {
    margin-top: var(--spacing-tiny);
    margin-bottom: var(--spacing-tiny);
}

.phys-education ul li span {
    display: block;
    font-weight: 400;
    line-height: 2;
}

[class*='flex-'][class*='-reverse'] {
    flex-direction: row-reverse;
}
/*
[class*='flex-'][class*='-wrap'] {
    flex-wrap: wrap;
}
    */

.two-col-container .content-zone {
    flex: 0 1 auto;
    width: 62.898%;
}

.two-col-container .side-zone > *:last-child {
    margin-bottom: 0;
}

main section header {
    text-align: left;
}

section header {
    font-weight: 400;
    margin: 0;
}

main section header > *:last-child {
    margin-bottom: 0;
}

.two-col-container .side-zone > *:first-child {
    margin-top: 0;
}

.two-col-container .side-zone > *:not(form), .two-col-container .side-zone > form > *, .two-col-container .side-zone .aside-margin {
    margin-bottom: 2.78rem;
}

.physician-locations {
    padding-left: 40px;    /* NOTE: unable to match with website? */
}

.system-entry > .content-style:not([class*="mar-t"]) {
    margin-top: calc(var(--spacing-variable) * 1.67);
}

.title-style-2 {
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.27;
    color: var(--secondary-color);
    font-family: var(--font-1);
}

.title-style-5 {
    font-size: 1.111rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    color: var(--text-color);
}

.content-style ul:not([class*="flex-"]) {
    list-style-type: none;
    padding: 0 0 0 0;
}

.content-style ul:not([class*="mar-"]), .content-style ol {
    line-height: 1.33;
    margin: 1em 0;
    font-style: normal;
}

.content-style>:last-child {
    margin-bottom: 0 !important;
}

.content-style ul:not([class*="flex"]) li {
    padding-left: .889rem;
}

.content-style ul:not([class*="flex"]) li:before {
    content: '';
    background-color: var(--quarternary-color);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: .46rem;
    left: 0;
    position: absolute;
    z-index: -1;
}

[class*="title-style-"] {
    display: block;
}

.content-style > .title-style-5:not([class*="mar-t"]) {
    margin-top: 1.3rem;
}

.mar-t-huge {
    margin-top: var(--spacing-huge);
}
/* arrow displayed in wrong location
.link-style-1:after, .link-style-2:after, .link-style-3:after {
    position: absolute;
    top: .25rem;
    transform: translateX(0);
    left: 0;
    width: .889rem;
    height: .556rem;
    background-image: url(https://ouhealth.com/images/assets/link-arrow-large.png);
    transition: var(--transit-1);
    content: '';
    z-index: -1;
    background-size: cover;
    background-position: 100% 50%;
}
    */

#physicianSchema .review-date {
    margin-top: 0.8em;
    margin-bottom: 0.25em;
}

.phys-comments p {
    margin-top: 0.7em;
    margin-bottom: 0;
    width: 70%;
    margin-left: 2em;
}

.system-cards > [class*="item"] .note-style-1 {
    padding-top: .1667rem;
    line-height: 1;
}

.note-style-1 {
    font-size: 0.889em;
    font-weight: 400;
    line-height: 1.3;
    color: var(--primary-color);
    display: block;
    font-family: var(--font-1);
}